div.flexContainer,
button {
  display: flex;
  margin: auto;
}

div.gridSquare {
  display: flex;
  justify-content: space-evenly;
  margin: 1px;
  background-color: aqua;
}

div.hover {
  background-color: red;
}

div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
