html,
body {
  min-height: 100%;
}

div.flexContainer {
  display: flex;
  margin: auto;
}

div.gridSquare {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
  background-color: aqua;
}

div.hover {
  background-color: red;
}
